@import '~bootstrap/scss/bootstrap';

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  margin-top: 6%;
}

.btn {
  background-color: #38b6ff;
}

#logo {
  width: 10%;
  height: auto;
  border: 1px solid white;
  border-radius: 30%;
  padding: 1%;
}

#messages {
  text-align: center;
}

.white {
  color: white;
}

.black {
  color: black;
}

.headings {
  color: #2f4f4f;
  font-size: 40px;
}

.sign-up-hide {
  display: none;
}

.change-pwd-hide {
  display: none;
}

.hide-nav {
  display: none;
}
